ipykernel
ragatouille
python-dotenv
langchain
langchain-community
langchain-core
langchain-openai
langchain-pinecone
pinecone
beautifulsoup4
tiktoken
numpy
langchainhub
chromadb
youtube-transcript-api
pytube
cohere
pypdf
yt_dlp
